body {
  background: rgb(161, 222, 210);
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.container {
  margin-top: 35vh;
  width: auto;
}

/**** Start page layout and search bar****/

#startdisplay {
  display: visible;
}

p {
  font-size: 5vw;
  white-space: nowrap;
  color: white;
}

#searchRow {
  display: flex;
  align-items: center;
}

i {
  color: white;
}

.btn {
  background-color: rgb(124, 168, 239);
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}

/**** Main information page****/
#searchdisplay {
  visibility: hidden;
}

/** Main box **/
#box1 {
  margin-top: -5vh;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 2vh 2vw;
  box-shadow: 8px 8px 6px rgb(163, 161, 161);
}

#box1part1 {
  border-right: solid grey 1px;
}

h1 {
  font-size: 6vw;
  color: rgba(77, 145, 171, 0.8);
}

#location {
  font-size: 3vw;
  color: black;
}

#weatherdesc {
  font-size: 3vw;
  color: black;
  margin-bottom: -0.5vh;
  white-space: pre-wrap;
}

#tempimg {
  width: 13vw;
  height: auto;
  margin-top: auto;
  margin-left: 7.5vw;
}

/** Extra weather information, small boxes **/
#box2 {
  margin-top: 2vh;
  height: auto;
}

#box2 .col-2 {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  margin: 1vh 1vw;
  box-shadow: 8px 8px 6px rgb(163, 161, 161);
}

#infotitle {
  font-size: 2vw;
  color: rgba(77, 145, 171, 0.8);
  white-space: nowrap;
  margin-bottom: -0.1vh;
}

.col-2 p {
  color: black;
  font-size: 2vw;
}

@media screen and (max-width: 90px) {
  #box1part1 {
    border-right: none;
    border-bottom: solid grey 1px;
  }

  #box1 {
    margin-top: -14vh;
    padding: 1vh 3vw;
  }
}
